clinical-incident-triage/blueprint/scenario-blueprint.json
{
  "name": "Clinical Incident Triage Automation",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:watchRows",
      "version": 2,
      "parameters": {
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetId": "Form Responses 1",
        "limit": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": -300, "y": 0 },
        "restore": { "parameters": { "spreadsheetId": { "label": "Incident Tracker" } } }
      }
    },
    {
      "id": 2,
      "module": "openai-gpt-3:createChatCompletion",
      "version": 1,
      "parameters": { "model": "gpt-4o", "max_tokens": 300 },
      "mapper": {
        "messages": [
          {
            "role": "system",
            "content": "You are a clinical incident triage assistant for an NHS healthcare facility.\n\nAnalyse the incident and respond in EXACTLY this format, nothing else:\n\nSEVERITY: [write only one word: CRITICAL or HIGH or MEDIUM or LOW]\nSUMMARY: [one sentence summary]\nACTIONS: [action 1]; [action 2]; [action 3]\n\nSeverity rules:\n- CRITICAL: patient death, serious injury, ongoing immediate risk\n- HIGH: patient harmed, significant risk, regulatory reportable\n- MEDIUM: near-miss, minor harm, equipment issue\n- LOW: no harm, process issue, documentation concern"
          },
          {
            "role": "user",
            "content": "Incident Type: {{1.`Incident type`}}\nPatient Harmed: {{1.`Was the patient harmed?`}}\nDescription: {{1.`Describe what happened`}}\nImmediate Action: {{1.`Immediate action taken`}}\nDepartment: {{1.Department}}"
          }
        ]
      },
      "metadata": {
        "designer": { "x": -100, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "builtin:BasicTrigger",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "reference_id",
        "value": "INC-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}"
      },
      "metadata": {
        "designer": { "x": 100, "y": 0 },
        "note": "Set Variable — generates unique incident reference ID"
      }
    },
    {
      "id": 4,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetId": "Form Responses 1"
      },
      "mapper": {
        "J": "{{2.result}}",
        "K": "{{2.result}}",
        "L": "{{2.result}}",
        "M": "Open",
        "N": "{{3.reference_id}}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "note": "Logs AI output and reference ID to Google Sheets dashboard"
      }
    },
    {
      "id": 5,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "routes": [
        {
          "flow": [],
          "label": "CRITICAL incidents",
          "filter": {
            "name": "CRITICAL incidents",
            "conditions": [
              [{ "a": "{{2.result}}", "b": "SEVERITY: CRITICAL", "o": "text:contain" }]
            ]
          }
        },
        {
          "flow": [],
          "label": "HIGH incidents",
          "filter": {
            "name": "HIGH incidents",
            "conditions": [
              [{ "a": "{{2.result}}", "b": "SEVERITY: HIGH", "o": "text:contain" }]
            ]
          }
        },
        {
          "flow": [],
          "label": "MEDIUM incidents",
          "filter": {
            "name": "MEDIUM incidents",
            "conditions": [
              [{ "a": "{{2.result}}", "b": "SEVERITY: MEDIUM", "o": "text:contain" }]
            ]
          }
        },
        {
          "flow": [],
          "label": "LOW - fallback",
          "filter": { "name": "LOW - fallback", "fallback": true }
        }
      ],
      "metadata": {
        "designer": { "x": 500, "y": 0 }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "eu1.make.com"
  },
  "_readme": {
    "how_to_import": [
      "1. Open Make.com and create a new scenario",
      "2. Click the three-dot menu (top right of canvas)",
      "3. Select 'Import Blueprint'",
      "4. Upload this file",
      "5. Replace YOUR_SPREADSHEET_ID with your actual Google Sheet ID",
      "6. Reconnect all service credentials (Google, OpenAI, Gmail, Slack)",
      "7. Run once with a test form submission"
    ],
    "note": "API keys and credentials are never stored in blueprints. You must reconnect all services after importing."
  }
}
